<h1><%= @title %> </h1>
<p><span class="subtitle">Date released: </span> <%= @date %></p>
<p><span class="subtitle">Duration: </span> <%= @duration %></p>
<p><span class="subtitle">Director: </span> <%= @director %></p>
<p><span class="subtitle">Plot: </span> <%= @summary %></p>
<img src="<%=@imageposter%>" alt="">
